{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Snack Tracker</title>
    {% compress css %}
    <link
      rel="stylesheet"
      href="{% static 'src/output.css' %}"
      type="text/css"
    />

    {% endcompress %}
  </head>
  <body>
    <header></header>
    <main>
      <div>
        {% block content %} child template goes here {% endblock content %}
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>
